/* za benefits */
.steps {
    clear: both;
    list-style: none;
    padding-left: 2%;
}

.steps li {
    margin: 2em 0;

    display: block;
    position: relative;
    counter-increment: inst;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 1px rgba(255, 150, 0, 0.5);
    border-radius: 40px 999em 999em 40px;

}

.steps li p {
    font-weight: normal;
    padding-top: 20px;
}


.steps li::before {
    content: counter(inst);

    background: rgba(255, 150, 0, 0.35);
    color: #fff;

    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    text-shadow: 1px 1px rgba(255, 150, 0, 0.5);

    border-radius: 0 0.675em 0.675em 0;
    font-size: 1.5em;
    text-align: center;

    padding-top: 0;
    padding-left: 2.25%;
    left: -5%;
    top: -0.65em;
    height: 1.35em;
    width: 1.35em;
    position: absolute;

    transition: all 0.2s ease-in-out;

    z-index: -1;
}

@media (min-width: 33em) {
    .steps li:before {
        border-radius: 50%;
        font-size: 1.5em;
        height: 1.35em;
        margin-left: 2.5%;
        padding-left: 0;
        padding-top: 0;
        top: -0.15em;
        width: 1.35em;
        z-index: -1;
    }
}










/* za keysteps */

.keysteps {
    width: 100%;
   
}

.keysteps p {
    border-top: 2px dashed;
    border-color: #6372ff  !important;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
}



.keysteps p:nth-child(even):before {
    content: counter(section);
    right: 100%;
    margin-right: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 8px;
    height: 40px;
    width: 40px;
    background-color: #6372ff ;
    text-align: center;
    color: white;
    font-size: 110%;
}

.keysteps p:nth-child(odd):before {
    content: counter(section);
    left: 100%;
    margin-left: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 8px;
    height: 40px;
    width: 40px;
    background-color: #5ca9fb;
    text-align: center;
    color: white;
    font-size: 110%;
}



.keysteps p:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
}

.keysteps p:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
}

.keysteps p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.keysteps p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}