/* Services Section */


#services {
    padding: 100px 0;
    /* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
    color: #fff;
    background: #f6f6f6;
    background: linear-gradient(to right, #6372ff 0%, black 100%);
}

.text-center {
    text-align: center;
}

#services .service-desc {
    margin: 10px 10px 20px;
}

#services h2 {
    color: #fff;
}

/* proveri */
.section-title {
    font-size: 40px;
    letter-spacing: 0.17px;

    padding: 80px 40px 10px 40px;
    margin-bottom: 70px;


}

.section-title h2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
   
}

#services .section-title h2::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.3);
    height: 4px;
    width: 60px;
    bottom: 0;
    margin-left: -30px;
    left: 50%;
}

.section-title p {
    font-size: 18px;
}

/* do tuka bez after */

/* #services .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */


#services i.fa {
    font-size: 42px;
    width: 120px;
    height: 120px;
    padding: 40px 0;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    border-radius: 50%;
    color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

#services h3 {
    font-weight: 500;
    padding: 5px 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

#services p {
    color: rgba(255, 255, 255, 0.75);
}

#services .service-desc {
    margin-bottom: 40px;
    /* text-align: justify; */
}

#services .service-text {
    text-align: justify;
    padding-right: 50PX;
    padding-left: 25px;
    line-height: 20px;
}

/* @media screen and(max-width:1160px) {
    #services .row {
        grid-template-columns: 1fr 1fr;
    } 
  
} */

@media screen and (max-width:1024px) {
    .section-title p {
        width: 100%;
    }

    #services .column {
        margin-bottom: 100px;
    }

}

@media screen and(max-width:870px) {
    #services {
        padding: 5rem 8rem;
    }
 

    #services .row {
        grid-template-columns: 1fr;
    }

  
    #services .column {
        margin-left: 0;
        margin-right: 0;
        width: 100%;

    }

    .section-title p {
        width: 100%;
      
    }
}

@media screen and(max-width:750px) {
    #services {
        padding: 5rem 4rem;
    }
}


@media screen and(max-width:570px) {
    #services {
        padding: 5rem 1rem;
    }
    
}

#services .column:hover {

    transform: translateY(-12px);
}